/* 小设备 (平板电脑和大型手机，600 像素及以上) */
@media only screen and (min-width: 600px) {
    .game-item {
        width: 15.5% !important;
        height: 3.2rem !important;

    }
    .game_name {
        font-size: 0.3rem!important;
    }
}

/* 中型设备（平板电脑，768 像素及以上） */
@media only screen and (min-width: 768px) {
    
    .game-item {
        width: 15.5% !important;
        height: 3.2rem !important;
    }
    .game_name {
        font-size: 0.3rem!important;
    }

}
@media (max-width: 768px) {
    /* .el-select{
        height: 0.4rem !important;
        box-sizing: border-box !important;
        width: 2rem !important;
        padding-left: 0.2rem;
    }
    .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner{
        width: 6rem !important;
        padding-left: 0.2rem;
    } */
    .el-picker-panel__body {
        min-width: 95% !important;
    }
    .el-date-range-picker__content{
        width: 50% !important;
    }
    .el-date-range-picker{
        width: 95% !important;
    }
    /* .el-picker-panel__body{
        width: 95% !important;
    } */
    .el-date-range-picker__header{
        margin-right: 0px;
        div{
            font-size: 0.23rem !important;
        }
    }
    .el-date-range-picker__content{
        margin: 0px;
        padding: 2px;
    }
    .el-date-range-picker__content.is-left{
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .el-date-range-picker__content.is-right {
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .el-date-table th{
        font-size: 0.28rem;
        padding: 0px !important;
    }
    .el-date-table td{
        padding: 0px;
    }
}